body {
  background-color: rebeccapurple;
}

.Locations__1 {
  width: 1330px;
  height: 150px;
  background-color: rgb(58, 58, 86);
  color: white;
  font-size: 30px;
}

.Locations__1 h1 {
  padding: 45px 20px;
}

.img-2 {
  margin-top: 100px;
  margin-left: 55px;
}

.p {
  width: 400px;
  margin-left: 150px;
}

.city {
  width: 250px;
  margin-left: -50px;
  font-size: 25px;
}

.box__3 {
  width: 950px;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}

.Message {
  margin-left: 200px;
  margin-top: 30px;
  width: 150px;
  height: 20px;
  border: 2px black solid;
  padding: 10px 15px;
  background-color: #ff9900;
}
